body {
  font-family: "Qwitcher Grypen", sans-serif;
}

header nav {
  background-image: url(/img/giphy-downsized-large.gif);
  background-size: cover;
  color: transparent;
  box-shadow: 5px 10px 8px #888888;
  border-radius: 10px;
}
header nav .navbar-brand {
  font-size: 50px;
  color: rgba(65, 105, 225, 0.6745098039);
  transition: all 0.5s;
}
header nav .navbar-brand:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  color: aliceblue;
}
header nav img {
  width: 16%;
  height: 150px;
}
header nav .collapse {
  margin-left: 10%;
}
header nav .navbar-nav a {
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-inline: 15px;
  transition: all 0.5s;
  list-style: none;
}
header nav .nav-link1 {
  background-image: url(/img/d4stv0x-65a80c69-c4fc-49e3-9323-88975e52f6e3.gif);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header nav .nav-link2 {
  background-image: url(/img/gohan-future.gif);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header nav  .nav-link3 {
  background-image: url(/img/devil-anime.gif);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
header nav  .nav-link4 {
  background-image: url(/img/goku.gif);
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}