body{
    font-family: 'Qwitcher Grypen', sans-serif;
}
header {
    nav {
        background-image: linear-gradient(to right, #5fb4f5 0, #56f5f8 51%, #5f62f5 100%);
        background-size: 200%;
        box-shadow: 5px 10px 8px #888888 ;
        border-radius: 10px;
        .navbar-brand {
            font-size:50px ;
            color: #4169e1ac;
            transition: all 0.5s;
        }
        .navbar-brand:hover{
            text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
            color: aliceblue;
        }
        img {
            width: 16%;
            height: 150px;
        }
        .collapse{
         margin-left: 33% ;
        }
        .navbar-nav a{
            font-size: 30px;
            font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            margin-inline: 15px;
            transition: all 0.5s;
            list-style: none;
        }
        .nav-link1{
        background-image: url(/img/d4stv0x-65a80c69-c4fc-49e3-9323-88975e52f6e3.gif);
        background-size: cover;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        .nav-link2{
            background-image: url(/img/gohan-future.gif);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        .nav-link3{
            background-image: url(/img/asta-black-asta.gif);
            background-size: cover;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
    }}}